body {
  padding-top: 5rem;
  background-image: url(images/home.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; 
}
