<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<style>
	.about{
  		background-color: #343a40;
	}
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Any additional styles for this template -->
    <link href="{{url_for('static', filename='css/home-temp0.css')}}" rel="stylesheet">
</head>

<body bgcolor="#FFFFFF">
    <!--
    <p>Home Page. </br>
    List of <a href="{{url_for('books')}}">books</a> <br/>
    List of <a href="{{url_for('authors')}}">authors</a> <br/>
    List of <a href="{{url_for('publishers')}}">publishers</a> <br/>
    <a href="{{url_for('about')}}">About us</a> <br/>
    </p>
    -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <!-- Replace with title/teamname/something better -->
        <a class="navbar-brand" href="{{url_for('index')}}">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('about')}}">About us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}" method="post" name="search">
                <div>{{g.search_form.hidden_tag()}}
                {{g.search_form.search(class="form-control mr-sm-2", placeholder="Search", type="search")}}</div>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
<!-- section: team -->
	<section id="about" class="section">
		<div class="container">
			<div class="row">
				<div class="span4 offset1">
					<div>
						<h1><center>The Degenerate Generation</center></h1>

		<img src="/static/images/nam1.jpg" width="200" height="200"  alt="Nam's Picture" align="right">
                <h3>Nam Nguyen</h3>
                <p>Nam is a junior biology major pursuing the Elements of Computing certificate. Nam is the team historian and in charge of the about page. Nam likes the outdoors, is an avid listener of KPop, and likes watching anime.
</p>
				<table class="table table-dark" width="600">
					<tbody>
						<tr>
							<td>Nam's Stats </td>
							<td></td>
						</tr>
						<tr>
							<td>Total No. of Commits: </td>
							<td>8</td>
						</tr>
						<tr>
							<td>Total No. of Issues: </td>
							<td>2</td>
						</tr>
						<tr>
							<td>Total No. of Unit Tests: </td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
<br><br>
		<img src="/static/images/tobyw.jpg" width="200" height="200" alt="Toby's Picture" align="right">
                <h3>Toby Wiedenhöfer</h3>
                <p>Toby is a junior mathematics major pursuing the Elements of Computing certificate. Toby was assigned leader of the group. Toby likes taking long walks on the beach as well as spending time alone in a cold, dark room pretending nobody likes him.
</p>
				<table class="table table-dark" width="600">
					<tbody>
						<tr>
							<td>Toby's Stats </td>
							<td></td>
						</tr>
						<tr>
							<td>Total No. of Commits: </td>
							<td>53</td>
						</tr>
						<tr>
							<td>Total No. of Issues: </td>
							<td>0</td>
						</tr>
						<tr>
							<td>Total No. of Unit Tests: </td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
<br><br>
		<img src="/static/images/ryan1.png" width="200" height="200"  alt="Ryan's Picture" align="right">
                <h3>Ryan Chiapoco</h3>
                <p>Ryan is a junior mathematics major pursuing the Elements of Computing certificate. Ryan assists with both back-end and front-end design.
</p>
				<table class="table table-dark" width="600">
					<tbody>
						<tr>
							<td>Ryan's Stats </td>
							<td></td>
						</tr>
						<tr>
							<td>Total No. of Commits: </td>
							<td>23</td>
						</tr>
						<tr>
							<td>Total No. of Issues: </td>
							<td>0</td>
						</tr>
						<tr>
							<td>Total No. of Unit Tests: </td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
<br><br>
		<img src="/static/images/vineel.jpg" width="200" height="200" alt="Vineel's Picture" align="right">
                <h3>Vineel Mandava</h3>
                <p>Vineel is a senior Economics major pursuing the Elements of Computing certificate. Vineel is the lead in front-end design.
</p>
				<table class="table table-dark" width="600">
					<tbody>
						<tr>
							<td>Vineel's Stats </td>
							<td></td>
						</tr>
						<tr>
							<td>Total No. of Commits: </td>
							<td>0</td>
						</tr>
						<tr>
							<td>Total No. of Issues: </td>
							<td>0</td>
						</tr>
						<tr>
							<td>Total No. of Unit Tests: </td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
<br><br>
		<img src="/static/images/james1.jpg" width="200" height="200"  alt="Jiuyuan's Picture" align="right">
                <h3>James Chen</h3>
                <p>James is a Junior Chemistry major seeking a certificate in Elements of Computing. James is the lead of middle extracting and cleaning data. He goes by James but his real name is Jiuyuan Chen. James plays quidditch in his free time and believes that computer science is a witchcraft class.
						</p>
				<table class="table table-dark" width="600">
					<tbody>
						<tr>
							<td>James's Stats </td>
							<td></td>
						</tr>
						<tr>
							<td>Total No. of Commits: </td>
							<td>3</td>
						</tr>
						<tr>
							<td>Total No. of Issues: </td>
							<td>0</td>
						</tr>
						<tr>
							<td>Total No. of Unit Tests: </td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
<br><br>

				<table class="table table-dark">
					<tbody>
						<tr>
							<td>Team Stats! </td>
							<td></td>
						</tr>
						<tr>
							<td>Total No. of Commits: </td>
							<td>87</td>
						</tr>
						<tr>
							<td>Total No. of Issues: </td>
							<td>44</td>
						</tr>
						<tr>
							<td>Total No. of Tests: </td>
							<td>3</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-dark">
					<tbody>
						<tr>
							<td>Tools Used! </td>
							<td></td>
						</tr>
						<tr>
							<td>Bootstrap </td>
							<td>To design our website</td>
						</tr>
						<tr>
							<td>Gitlab </td>
							<td>To collaborate with our code</td>
						</tr>
						<tr>
							<td>Google Cloud Platform: </td>
							<td>Hosting our Gitlab repo</td>
						</tr>
						<tr>
							<td>NameCheap: </td>
							<td>For the custom domain</td>
						</tr>
						<tr>
							<td>Material Design for Bootstrap: </td>
							<td>For table sorting</td>
						</tr>
						<tr>
							<td>Slack: </td>
							<td>For collaboration and planning</td>
						</tr>
					</tbody>
				</table>

	<h3 align="center">Other Information: </h3>
	<p align="center"><a href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Book Data</a></p>
        <p align="center"><a href="{{url_for('test')}}">Unit Tests</a></p>
	<p align="center"><a href="https://speakerdeck.com/tobywiedenhoefer/degenerationgeneration-dot-me">Speaker Deck</a></p>




	<!-- end section: team -->







</body>
    <!-- Bootstrap needs external JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</html>
