<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>{{books.first().author}}</title>
	<meta name="viewport" content="width=device-width", initial-scale=1>
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
	</style>
	<!-- Any additional styles for this template -->
	<link href="{{url_for('static', filename='css/home-temp0.css')}}" rel="stylesheet">
	</head>
		<body>

			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<!-- Replace with title/teamname/something better -->
			<a class="navbar-brand" href="{{url_for('index')}}">Home</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('books')}}">Books</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('about')}}">About Us</a>
					</li>
				</ul>
                <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}" method="post" name="search">
                    <div>{{g.search_form.hidden_tag()}}
                    {{g.search_form.search(class="form-control mr-sm-2", placeholder="Search", type="search")}}</div>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
			</div>
			</nav>

			<div>
				<h3>{{books.first().author}}</h3>
				{% if books.first().auth_image_url %}
					<img src="{{books.first().auth_image_url}}" alt="{{books.first().author}}">
				{% endif %}
			</div>
			<div>
				{% if books.first().auth_desc %}
					<p>About: <br/>
					{{books.first().auth_desc}}<br/></p>
				{% endif %}
				<table class="table table-dark">
					<tbody>
						<tr>
							<td>Nationality: </td>
							<td>{{books.first().nationality}}</td>
						</tr>
						<tr>
							<td>Born: </td>
							<td>{{books.first().born}}</td>
						</tr>
						<tr>
							<td>Alma Mater: </td>
							<td>{{books.first().alma_mater}}</td>
						</tr>
					</tbody>
				</table>

				<p>Book(s): </p>
                {% for i in books %}
                <p><a href="{{url_for('generic_book',bookname=i.title)}}">{{i.title}}</a>
                    (published by <a href="{{url_for('generic_publisher',pubname=i.publisher)}}">
                        {{i.publisher}}</a>)</p>
                {% endfor %}

				<p><a href="{{books.first().auth_wiki_url}}">Wikipedia</a></p>
			</div>


	<!-- Bootstrap needs external JavaScript libraries -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
