<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>{{book.publisher}}</title>
	<meta name="viewport" content="width=device-width", initial-scale=1>
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
	</style>
	<!-- Any additional styles for this template -->
	<link href="{{url_for('static', filename='css/home-temp0.css')}}" rel="stylesheet">
	</head>
		<body>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<!-- Replace with title/teamname/something better -->
			<a class="navbar-brand" href="{{url_for('index')}}">Home</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('books')}}">Books</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('about')}}">About Us</a>
					</li>
				</ul>
                <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}" method="post" name="search">
                    <div>{{g.search_form.hidden_tag()}}
                    {{g.search_form.search(class="form-control mr-sm-2", placeholder="Search", type="search")}}</div>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
			</div>
			</nav>

			<p>
			<a href="{{url_for('publishers')}}">Publisher List</a>
			</p>
			<div>
				<h3>{{book.publisher}}</h3>
				{% if book.pub_description != '' %}
					<p>Description: {{book.pub_description}}</p>
				{% endif %}
			</div>
			<div>
				<table>
					<tbody>
						<tr>
							<td>Parent Company: </td>
							<td>{{book.pub_parent_company}}</td>
						</tr>
						<tr>
							<td>Founded: </td>
							<td>{{book.founded}}</td>
						</tr>
						<tr>
							<td>Location: </td>
							<td>{{book.location}}</td>
						</tr>
						<tr>
							<td>Number of Available Books: </td>
							<td>{{book.pub_num_books}}</td>
						</tr>
					</tbody>
				</table>

				<p>Available Books Published: <p>
				{% for i in pub_books %}
						<p><a href="{{url_for('generic_book',bookname=i.title)}}">{{i.title}}</a> by <a href="{{url_for('generic_author',authname=i.author)}}">{{i.author}}</a></p>
				{% endfor %}


				{% if book.pub_website != '' %}
					<a href="{{book.pub_website}}">{{book.publisher}}'s Website</a><br/>
				{% endif %}
				{% if book.pub_wiki_url != '' %}
					<a href="{{book.pub_wiki_url}}">Wikipedia</a>
				{% endif %}
			</div>
		<!-- Bootstrap needs external JavaScript libraries -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		</body>
</html>
