<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Any additional styles for this template -->
    <link href="{{url_for('static', filename='css/home-temp0.css')}}" rel="stylesheet">
</head>

<body>
    <!--
	<p>Home Page. </br>
	List of <a href="{{url_for('books')}}">books</a> <br/>
	List of <a href="{{url_for('authors')}}">authors</a> <br/>
	List of <a href="{{url_for('publishers')}}">publishers</a> <br/>
	<a href="{{url_for('about')}}">About us</a> <br/>
	</p>
    -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <!-- Replace with title/teamname/something better -->
        <a class="navbar-brand" href="{{url_for('index')}}">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}" method="post" name="search">
                <div>{{g.search_form.hidden_tag()}}
                {{g.search_form.search(class="form-control mr-sm-2", placeholder="Search", type="search")}}</div>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            <h1>Welcome!</h1>
            <p class="lead">Search for books, authors, and publishers here.<br></p>
        </div>
    </main> <!-- /.container -->
</body>
<!-- Bootstrap needs external JavaScript libraries -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</html>
