<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Publishers</title>
	<meta name="viewport" content="width=device-width", initial-scale=1>
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
	</style>
	<!-- Any additional styles for this template -->
	<link href="{{url_for('static', filename='css/books-temp0.css')}}" rel="stylesheet">
	</head>
	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<!-- Replace with title/teamname/something better -->
		<a class="navbar-brand" href="{{url_for('index')}}">Home</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('books')}}">Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('about')}}">About Us</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
		</nav>
	{% if books == [] %}
		<p>Sorry, we don't have any publishers right now!</p>
	{% else %}

		<table class="table" id="publishers_table" bgcolor="#FFFFFF">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Year Founded</td>
                    <td>Located</td>
                    <td>Parent Company</td>
                    <td>Number of books Available</td>
                </tr>
            </thead>
			<tbody>
				{% for i in books %}
				<tr>
					<td><a href="{{url_for('generic_publisher', pubname=i.publisher)}}">{{i.publisher}}</a></td>
					<td>{{i.founded}}</td>
					<td>{{i.location}}</td>
					<td>{{i.pub_parent_company}}</td>
					<td>{{i.pub_num_books}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
        <!-- Bootstrap needs external JavaScript libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <!-- DataTables plugin JavaScript stuff -->
        <script>
            $(document).ready( function () {
                $('#publishers_table').DataTable();
            } );
        </script>
	</body>
</html>
