<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Any additional styles for this template -->
    <link href="{{url_for('static', filename='css/home-temp0-nobkg.css')}}" rel="stylesheet">
</head>

{% extends "base.html" %}

{% block content %}
<h1>Search results for "{{ qry }}":</h1>
<!-- Display the search results as cards
Books: Display: title, author, isbn
Authors:
Publishers
-->
{% if results %}
<table class="table" id="books_table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Date Published</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td><a href="{{url_for('generic_book',bookname=result.title)}}">{{result.title}}</a></td>
            <td><a href="{{url_for('generic_author',authname=result.author)}}">{{result.author}}</a></td>
            <td><a href="{{url_for('generic_publisher',pubname=result.publisher)}}">{{result.publisher}}</a></td>
            <td>{{result.publication_date}}</td>
            <td>{{result.genre}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Sorry, no results were found. Please try a different search query.</p>
{% endif %}

{% endblock %}

    <!-- Bootstrap needs external JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</html>
